<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("home")">Simple Blog</a>
            </h1>

            <div class="pull-right">
                @if (User.Identity.IsAuthenticated)
            {

                <a href="@Url.RouteUrl("logout")">Logout</a>

            }
            else
            {
                <a href="@Url.RouteUrl("login")">Login</a>
            }
        </div>



        </header>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4 sidebar">
                @Html.Action("Sidebar", "Layout");
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Simple Blog</p>
        </footer>
    </div>

    @Scripts.Render("~/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
